body{
    font-family: "Public Sans", sans-serif;
}

.img-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 130px;
}

.image{
    position: relative;
    width: 335px;
    height: 432px;
}

.image .img-text{
    position: absolute;
    bottom: 43px;
    left: 26px;
}

.image .img-text h1{
    font-size: 30px;
    font-weight: 700;   
    margin-bottom: 5px;
}

.image .img-text p{
    font-size: 17px;
    font-weight: 300;   
}